body{
    background-color: #000;
    margin: 0;
    padding: 0;
 }
 
 /* control bar */
 .bar{
   width: 100vw;
   height: 100px;
   background-color: #d7d7d7;
   position:fixed;
   z-index: 2;
   bottom: 0;
   display: flex;
   align-items: center;
 }
 .controlBar{
   display: flex;
   justify-content: space-between;
   width: 100vw;
   background-color: #d7d7d7;
   margin: 0 8vw;
   font-size: 18px;
 }

 .controlBar_left_word{
   display: flex;
 }
 #levelNum{
   margin-left: 10px;
 }
 .controlBar_left_btn{
   display: flex;
   justify-content: space-between;
   width: 80px;
 }

 .btn{
   height: 20px;
   padding: 10px 12px;
   background-color: #989898;
   border-radius: 2px;
   border: #000000 1px solid;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: default;
   margin-top: 4px;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
   user-select: none;
 }
 .btn:hover{
   background-color: #868686;
 }